<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  </head>
  <body>
    <div id="map"></div>
    <script>
        
        var campusMarkers = []
        var buschMarkers = []
        var bccstring = ""
        var cavestring = "Location Info for Cave"

      function initMap() {
        var myLatLng = {lat: 40.5057674, lng: -74.4438123};
        var buschLatLng = {lat: 40.5210292, lng: -74.4604099};
        var bccLatLng = {lat: 40.5232834, lng: -74.4588203};
        var caveLatLng = {lat: 40.5220671, lng: -74.4625017};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: myLatLng
        });

        var busch = new google.maps.Marker({
          position: buschLatLng,
          map: map,
          label: 'Busch',
          title: 'Busch Campus'
        });

        campusMarkers.push(busch)
          
        busch.addListener('click', function() {
            map.setZoom(16);
            map.setCenter(buschLatLng);
            removeMarkers();
            var bcc = new google.maps.Marker({
              position: bccLatLng,
              map: map,
              label: 'BCC',
              title: 'BCC'
            });
            buschMarkers.push(bcc);
            var cave = new google.maps.Marker({
              position: caveLatLng,
              map: map,
              label: 'Cave',
              title: 'Cave'
            });
            buschMarkers.push(bcc);
            var bccinfowindow = new google.maps.InfoWindow({
                content: bccstring
              });
            var caveinfowindow = new google.maps.InfoWindow({
                content: cavestring
              });
            bcc.addListener('click', function() {
                $.ajax({
                    url: '/sensorData',
                    type: 'GET',
                    success: function(json) {
                        bccstring="";
                        console.log(json);
                        // data = JSON.parse(response.data, function(i,j) {
                        //   bccstring+=i+": "+j+"<br />";
                        // });
                        $.each(json, function(i,j) {
                          bccstring+=i+": "+j+"<br />";
                        });
                        bccinfowindow.setContent(bccstring);
                        console.log(bccstring);
                    }
                })
                bccinfowindow.open(map, bcc);
              });
            cave.addListener('click', function() {
                caveinfowindow.open(map, cave);
              });
          });
      }
        
        function removeMarkers(){
            for(i=0; i<campusMarkers.length; i++){
                campusMarkers[i].setMap(null);
            }
        }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIPkHG5ouKmzsadb10ESFFlWhy8d45PWo&callback=initMap">
    </script>
  </body>
</html>